*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #333;   
}
.header{
    width: 100%;
    height: 40px;
}
.navbar{
    overflow: hidden;
    background-color:#1c1a15;
    padding: 20px 10px;
    position: fixed; 
    z-index: 2000;
    border-bottom: 1px solid #865701;
    width: 100%;
    height: 40px;
    display: flex;
    margin-top:80px;
    justify-content: space-around;
}
.navbar .thebrownie{
    color: #b28601;
    text-decoration: none;
}
.brownie{
    font-size:60px;
}
.the{
    position: relative;
    bottom: 14px;
}
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.navbar-right{
    margin-top:30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar ul li.active a {
    background: url(../images/body-bg.png);
    border-left: 1px solid #865701;
    border-top: 1px solid #865701;
    border-right: 1px solid #865701;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.navbar-right a{
    color:#865701;
}
li:hover a, .navbar li.active a, a:focus {
    text-decoration: none;
    border-left: 1px solid #865701;
    border-top: 1px solid #865701;
    border-right: 1px solid #865701;
    background: url("../day5task/img/body-bg.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color:#b28601; 
}
.navbar ul li{
    float: left;
    list-style: none;
}
#home{
    padding-top:100px;
}
.roww{
    width: 100%;
    height: 700px;   
}
.ikili{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 100px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.qara{
    position: relative;
    background-image: url("./img/round-rectangle.png");
    width: 524px;
    height: 524px;
}
.divsol{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divphoto img{
    border-radius: 16px;
    position: absolute;
     top: 54px; 
     left: 0; 
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
}
.hoverdiv{
    background-color: rgba(51,51,51,0.9);
    background: rgba(51,51,51,0.9);
    cursor: pointer;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 54px; 
    left: 0; 
    right: 0;
    border-radius: 16px;
    opacity: 0;
    margin: auto;
    text-align: center;
}
.hoverdiv:hover{
    opacity: 1;
    transition: 0.3s;
}
.hoverdiv .fa-search{
    background: #865701;
    border-radius: 50%;
    font-size: 30px;
    padding: 30px;
    margin: 80px 0 15px 0;
}
.hoverdiv h3{
    color:#b28601;
}
.hoverdiv p{
    color: #929292;
    margin-top:15px;
}
.divsag h2{
    color: #865701;
    font-size: 40px;
}
.divsag h3{
    color:#b28601;
    font-size: 20px;
    width:90%;
    margin-top: 15px;
}
.divsag p{
    color: #929292;
    margin-top: 16px;
    width: 60%;
}
.divsag button{
    background-color: #865701;
    color: white;
    height: 35px;
    margin-top:16px;    
    width: 29%;
    border-radius: 10px;
}
.divsag button:hover{
    background-color: #b28601;
}
.divsol2 h2{
    color:#865701;
    width: 50%;
    margin-left: 250px;
    font-size:30px;
    text-align: right;
}
.divsol2 p{
    color: #929292;
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    margin-right:15px;
}
.p1{
    margin-top: 15px;
}
.team{
    color: #b28601;
}
.divsag2{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.qara2{
    background-image: url("./img/round-rectangle.png");
    background-position: center;
    background-size: contain;
    width: 590px;
    border-radius: 16px;
    height: 590px;
    position: relative; 
}
.son{
    position: absolute;
    margin: auto;
    top: 0;
    width: 500px;
    height: 500px;
    left: 0;
    right: 0;
}
.div2{
    border: 1px solid #865701;
    border-radius: 30px;
    width: 440px;
    height: 480px;
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    left: 0;
}

.div2 img{
    position: absolute;
    margin:10px auto;
    padding:0 0 20px;
    top: 0;
    right: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.divskl img{
    position: absolute;
    margin: auto;
    top: 85px;
    right: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.son h2{
    color: #b28601;
    position: absolute;
    margin:180px auto;
    top: 90px;
    right: 10px;
    left: 100px;   
}
.sonimg{
    position: absolute;
    margin: auto;
    top: 310px;
    right: 0;
    left: 0;
}
.div2p{
    position: absolute;
    margin: auto;
    top:350px;
    color: #929292;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
}
.son h4{
    position: absolute;
    margin:20px auto;
    top:400px;
    left: 20px;
    right: 0;
    width: 30%;
   color: #865701;
}
.div3{
    border: 1px solid #865701;
    border-radius: 30px;
    width: 400px;
    height:410px;
    position: absolute;
    margin: auto;
    left: 0;
    top:40px;
    right: 0;
}
.our{
    color:white;
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    top:5px;
    right: 0;
    font-size: 30px;
}
.ucdeneli{
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    top:35px;
    right: 0;
}
.qara3{
    background-image: url("./img/round-rectangle.png");
    background-position: center;
    background-size: contain;
    width: 503px;
    border-radius: 16px;
    height: 503px;
    position: relative; 
}
.bir{
    display: flex;
    flex-wrap: nowrap;
    gap:35px;
    justify-content: space-around;
    align-items: center;
    width: 88%;
    height: 120px;
}
.photo{
    margin-left:20px;
}
.soz h4{
    font-size: 16px;
    color: #865701;
    text-align: left;

}
.soz p{
    color: #929292;
    font-size: 16px;
    text-align: left;

}
.divsol3{
    color: #865701;
}
.divsol3 p{
    width: 68%;
    color: #929292;
    text-align: left;
    margin-left:50px; 
    margin-top:35px;
}
.design{
    color: #b28601;
}
.divsol3 h2{
    width: 40%;
    text-align: left;
    margin-left:50px;   
}
.qara4{
    background-image: url("./img/round-rectangle.png");
    background-position: center;
    background-size: contain;
    width: 503px;
    border-radius: 16px;
    height: 503px;
    position: relative; 
}
.qara4 h2{
    position: absolute;
    top:50px;
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #b28601;
}
.divsol4 h2{
    color: #865701;;
    text-align: right;
    margin: auto;
    margin-top: 15px;
    font-size: 31px;
    width: 66%;
}
.divsol4 p{
    color: #929292;
    text-align: right;
    margin-top: 15px;
    width: 80%;
    font-size: 20px;
    margin-left:11px;   
}
.products{
    color: #b28601;
}
.div4{
        border: 1px solid #865701;
        border-radius: 30px;
        width: 350px;
        height:300px;
        position: absolute;
        margin: auto;
        right: 0;
        top:100px;
        left: 0;
}
.div4 img{
        margin: 50px 10px 0 100px;
        width: 190px;
        height: 190px;
        position: relative;
}
.qara5{
    background-image: url("./img/round-rectangle.png");
    background-position: center;
    background-size: contain;
    width: 470px;
    border-radius: 16px;
    height: 470px;
    position: relative; 
}
.form-group input{
    background-color: #1f1d1a;
    border: 1px solid #865701;
    border-radius: 10px;
    color: #b28601;
    width: 88%;
}
.form-group textarea{
    background-color: #1f1d1a;
    border: 1px solid #865701;
    border-radius: 10px;
    margin-top:10px;
    overflow: auto;
    width: 357px;
    height: 198px;
    padding-top: 15px;
    color: #b28601;
}
.form-control {
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4px;
    color: #555;   
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.div5{
    width: 400px;
    height:390px;
    position: absolute;
    margin:10px auto;
    left: 0;
    top:0;
    right:0;
    text-align: center;
}
.contact-form input{
    margin-top: 8px;
}
.divsag5 h3{
    color: #865701;
    font-size: 40px;
    margin-left:10px;
    text-align: left;
}
.ikili5{
    width: 80%;
    height: 650px;
    margin: auto;
    display: flex;
  /* text-align: center; */
    gap:45px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.divsag5{
    display: flex;
    flex-wrap: wrap;
    margin-left:50px;
}
.divsag5 .p{
    margin-top:20px;
    color:#929292;
    width: 452px;
    text-align: left !important;
}
.touch{
    color: #b28601;
}
.divsag5 img{
    height: 50px;
    margin-top:20px;
    margin-right: 5px;
}
.send{
    background-color: #865701;
    color:#C5A554;
    border-radius:5px;
    width: 20%;
    position: absolute;
    left:10px;
    right: 0;
    height: 30px;
    margin-top:15px;
}
.send:hover{
    background: #b28601;
    color: white;
}
.sari{
    color: #C5A554;
}
.copy{
    font-size: 15px;
    margin-top:25px;
    color:#865701;
    margin-top: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    display: none;
}

@media(max-width:778px){
    .navbar-right{
        display: none;
    }
    .twomedia {
        display: flex;
        width: 765px;
       height: 75px;
       display: flex;
       flex-wrap: nowrap;
       align-items: center;
       justify-content: space-between;   
    }
    .icon{
        display: flex;
        /* justify-content: flex-end; */
    }
    .ikili{
        height: 1200px;
        display: flex;
        flex-wrap: wrap;
    }
    .divsag{
        margin-bottom:580px;
    }
    .divsol .qara{
        display: block;
        margin: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divphoto img{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 80%;
        height: 400px;
    }
    .divsol2{
        margin-top:250px;
    }
    .ikili5{
        /* height: 1200px; */
        display: flex;
        margin: auto ;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .divsag5{
        display: flex;
        width: 85%;
        margin: auto ;
        align-items: center;
        justify-content: center;
    }

}
